html(lang='en')
block login
    form(id="login" action="/new" method="post")
        input(type="text", name="username", value="", placeholder="Username")
        br
        input(type="text", name="description", value="", placeholder="description")
        br
        input(type="submit" value="Submit")
