doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

main
       section.form-container 
            form(method='POST' action='/new')
                textarea(name='description' placeholder='Pineapples belong on pizza and nobody can tell me otherwise!' cols='30' )
                input(type='text' placeholder='Username' name='username' id='username')
                button(type='submit' id='submit-btn')= 'post'
