doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form(method="POST" action="/new")
        input(type="text" name="author" placeholder="name")
        input(type="text" name="message" placeholder="message")
        button(type="submit") submit
